/* Styling the main and its contents to be centered */
.container {
text-align: center;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    margin-left: 30%;
    margin-right: 32%;
}

/* Changing the appearance of the start button in the main */
#start {
    color: white;
    background-color: purple;
    border-radius: 5px;
}