/* Styling the main and its contents to be centered */
body {
    height:131px;
    overflow: hidden;
}

/* Styling for the div holding the content on the home page */
#opening {
    display:block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}


/* Styling for the opening paragraph on the home page */
.opening-par {
    text-align: center;
    margin-left: 10%;
    margin-right: 12%;
}

/* Styling of the start button on the home page */
button {
    color: white;
    background-color: purple;
    border-radius: 5px;
}

/* Changing the font color on the back button */
#backbtn {
    color: white;
}


/* Formating for the h1 headings with the questions in them */
h1 {
    font-weight: bolder;
}

/* Styling for the div that contains all the content (e.g. the question, answer choices, etc) */
#content-div {
    display:block;
    margin-left: 25%;
    margin-right: 25%;
    float: left;
}
/* Formatting for the paragraph elements that hold the answerbuttons */
.questions-par-el {
    margin: 5px;
}

/* Spacing between the nav items so the letters don't touch */
.nav-item {
    margin-left: 10px;
    font-size: 20px;
}