/* Styling the main and its contents to be centered */
body {
    height:131px;
    overflow: hidden;
}

#main {
    display:block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}


/* Paragraph in main styling */

p {
    text-align: center;
    margin-left: 10%;
    margin-right: 12%;
}

/* Changing the appearance of the start button in the main */
button {
    color: white;
    background-color: purple;
    border-radius: 5px;
}

#backbtn {
    color: white;
}

li {
    font-size: 20px;
}